body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Sen', sans-serif;
    max-height: 1024px;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Style logo*/
.logo {
    max-width: 50px;
    max-height: 50px;
    padding: 11px;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    max-width: 24px;
}


/* Style the links inside the navigation bar */
.topnav a {
    display: block;
    color: #2B2B2B;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
}

/* Hide the link that should open and close the topnav on small screens */

.topnav .menu-btn {
    display: none;
}

/* change on hover */
.topnav a:hover {
    color: #A9888D;

}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {

    .topnav a {
        display: none;
    }

    .topnav img.logo {
        margin-left: 30px;
    }
    .topnav a.icon {
        display: block;
    }

    .topnav a.menu-btn {
        float: right;
        display: block;
    }
    h1 {
        font-size: 40px;
        font-family: 'Sen', sans-serif;
        text-transform: uppercase;
    }
  
    p {
        font-size: 18px;
    }
    .resource-info, .faq {
        padding: 30px;
    }

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {

    .topnav.responsive {
        position: relative;
        flex-direction: column;
        align-items: stretch;
    }

    .topnav.responsive a.menu-btn {
        position: absolute;
        right: 0;
        top: 0;
        transition: all 0.5s ease-out;
    }
    .topnav.responsive img
    {
        /*align-self: flex-start;*/
        order: -1;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        padding-left: 30px;

    }
    .topnav.responsive a.icon {
        display: none;
    }

}


/* Styling the hamburger lines */
.menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #000;
    transition: all 0.5s ease-out;
}

/* Adding transform to the X */
.menu-btn.close {
    transform: rotate(180deg);
}

/* Styling the three lines
    to make it an X */
.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

/**/
main {
        overflow: hidden;
    }

.color-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ced3d0;
    width: 100%;
    height: 230px;
}

h3 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Sen', sans-serif;
}

.mid-text, .top-text-two, .words{
    text-align: center;
}

p {
    font-size: 28px;
}
.resource-info,
.faq {
    display: flex;
    flex-direction: column;
    padding: 60px;
}
footer {
    background-color: #ECE5E6;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;

}

footer p {
    width: 275px;
    margin: 0 auto;
    padding-bottom: 30px;
}

button {
    background-color: #fff;
    border: 1px solid #000;
    margin: 0;
    padding: 10px 15px;
}
input {
    padding: 9px;
    width: 275px;
    margin-right: -5px;
}

footer a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    color: #2B2B2B;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

small {
    width: 75%;
    margin: 0 auto;
}

div{
  text-align: center;
}

.centered, .words{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-text-two{
  background-color:#ECE5E6;
  padding: 70px;
}

hr::after {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.row{
  display: flex;
  width: 50%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around
}

.now{
  background-color: #ECE5E6;
}

.mid-text{
  float: center;
  margin-top: 600px;
  margin-bottom: 600px;
}